@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans';
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenido-completo{
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenido-caja{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 40px 0;
    border-bottom: 5px #4070f4 solid;
    border-left: 2px #4070f4 solid;
    border-right: 2px #4070f4 solid;
    border-radius: 25px;
    margin-left: -100%
}
.alto{
    width: 100%;
}
.contenido-imagen,
.contenido-tarjeta{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}
.contenido-imagen{
    position: relative;
}
.fondo{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 25px;
    background: #4070f4;
}
.fondo::before,
.fondo::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070f4;
}
.fondo::after{
    border-radius: 0 25px 0 0;
    background-color: white;
}
.imagen-tarjeta{
    position: relative;
    height: 200px;
    width:100%;
    padding: 2px;
    background-color: white;
}
.imagen-tarjeta .imagen{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 4px solid #4070f4;
}
.nombre, .precio{
    font-size: 30px;
    font-weight: 500;
    color: #333;
    font-family: 'Lobster', cursive;
    line-height: 1.7
}
.descripcion{
    font-size: 18px;
    color: #707070;
    text-align: center;
    padding: 20px 10px;
}
.button{
    background: linear-gradient(to left, #286FD8, #5088DA);
    border: 1px solid #4070f4;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    height: auto;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.button:hover{
    background-position: right;
}
#btn-left, #btn-right{
    font-size: 40px;
    color: #4070f4;
    cursor: pointer
}